@model WorkTimeModel.WTCard

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>WTCard</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AntiPassBack)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AntiPassBack)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SiteCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SiteCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PinCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PinCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeZone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeZone)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
